<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Novo Usuário</title>
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash{{category}}">{{message}}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<form action="/criarusuario" method="post">

    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required>

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" required>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required>

    <div class="style">
        <button type="submit">Salvar</button>
    </div>

</form>

</body>
</html>